*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(194, 233, 194);
}
#panel{
    height: 87%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;

}

#ptop{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 27%;
   height: 70px;
   width: 100%;
   background-color: #1b8a1bb1;
   
}
.elem{
    display: flex;
    gap: 15px;
    align-items: center;
    
}
.box{
    padding: 10px 18px;
    background-color: #fff;
    border-radius: 5px;
    color: rgb(4, 101, 23);
    font-weight: 600;
    font-size: 17px;
}
.elem h2{
    font-size: 18px;
    font-weight:600;
}
#pbtm{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    height: calc(100% - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bubble{
    height: 50px;
    width: 50px;
    background-color: #1b8a1bb1;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
   

}
.bubble:hover{
    background-color:#0e5a0eb1 ;
    cursor: pointer;
}
